<!DOCTYPE html>
<div class="row">

  <div class="col-xs-12 col-md-4">
    <div class="well">
      <form class="form-search">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Search" ng-model="search">
          </div>
          Search for : {{search}}<br />
          <ng-pluralize
          count="filteredContacts.length"
          when="{'0': 'No contact found.',
          'one': 'One contact found.',
          'other': '{} contacts found.'}">
        </ng-pluralize>
      </div>
    </form>
    <ul>
      <li ng-repeat="contact in filteredContacts = (contacts | orderBy:'lastName' | filter:{lastName: search})"><a href="#/edit/{{contact.id}}">{{contact.firstName}} {{contact.lastName | uppercase}}</a></li>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-md-8">
  <div class="row">

    <div class="contact-card col-xs-12 col-sm-6"
        ng-repeat="contact in filteredContacts">
      <div class="contact-card-inner">
        <h4><a href="#/edit/{{contact.id}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>&nbsp;{{contact.firstName}} {{contact.lastName | uppercase}}</h4>
        <div class="contact-address">{{contact.address}}</div>
        <div class="contact-phone">{{contact.phone}}</div>
      </div>
    </div>

  </div>
</div>
