<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <form>
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input name="firstName" id="firstName" class="form-control" ng-model="contact.firstName" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input name="lastName" id="lastName" class="form-control" ng-model="contact.lastName" />
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea rows="3" name="address" id="address" class="form-control" ng-model="contact.address"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input name="phone" id="phone" class="form-control" ng-model="contact.phone" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Save</button>
                            <a class="btn btn-link" href="#/list">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
